* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

}


.ant-row {
  display: block !important;
}


.ant-image-mask {
  border-radius: 15px;
  padding-left: 1rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
  width: 100px;
  height: 100px;
  display: none !important;
}

.ImgLarge {
  width: 93% !important;
  margin-top: 4rem !important;

  @media screen and (max-width: 480px) {

    margin-top: 1rem !important;
    
  }
}

.ImgSmall {
  width: 105px !important;
  height: 85px !important;

  @media screen and (max-width: 480px) {
    width: 80px !important;
    height: 60px !important;
    margin: 2px !important;
    border-radius: 5px !important;
  }
}

